{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_row_start('0') }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(2,  macros.m_strong('Streamer')) }}
  {{ macros.m_col(2,  macros.m_strong('Started')) }}
  {{ macros.m_col(3,  macros.m_strong('StreamInfo')) }}
  {{ macros.m_col(1,  macros.m_strong('Size')) }}
  {{ macros.m_col(1,  macros.m_strong('Elapsed')) }}
  {{ macros.m_col(1,  macros.m_strong('Speed')) }}
  {{ macros.m_col(2,  macros.m_strong('Detail')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="status_list_div"></div>
</div> <!--전체-->

<style>
  .online{
    background-color: lightblue;
    border-radius: 0.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  .offline{
    background-color: lightpink;
    border-radius: 0.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  .disable{
    animation: dimmer forwards 0.3s;
    -webkit-animation: dimmer forwards 0.3s;
    
  }

  .enable{
    animation: brighter forwards 0.3s;
    -webkit-animation: brighter forwards 0.3s;
  }

  @keyframes brighter{
    from{
      filter: brightness(0.5);
    }
    100%{
      filter: brightness(1);
    }
  }

  @-webkit-keyframes brighter{
    from{
      filter: -webkit-brightness(0.5);
    }
    100%{
      filter: -webkit-brightness(1);
    }
  }

  @keyframes dimmer {
    100%{
      filter: brightness(0.5);
    }
  }

  @-webkit-keyframes dimmer {
    100%{
      filter: -webkit-brightness(0.5);
    }
  }

</style>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;
let streamlink_process_status = {}
const socket = io.connect(window.location.protocol + "//" + document.domain + ":" + location.port + "/" + package_name + '/' + sub);

$(document).ready(function(){
});

socket.on('start', function(data){
  on_start();
});

socket.on('update', function(data){
  streamlink_process_status[data.streamer_id] = data.status;
  render_update(data);
});

function m_button_group_from_list(buttons)
{
  let str = '<div class="btn-group btn-group-sm flex-wrap mr-2" role="group">';
  buttons.forEach(button => {
    str += button;
  })
  str += '</div>';
  return str;
}

function on_start() {
  $.ajax({
    url: `/${package_name}/ajax/${sub}/entity_list`,
    type: "GET", 
    cache: false,
    success: function (data) {
      streamlink_process_status = data;
      render_list(data);
    }
  });
}

function m_row_start_id(id, online, enable) {
  let str = m_row_start();
  str = str.replace(`class="row"`, `id=${id} class="row ${online ? 'online' : 'offline'} ${enable ? '' : 'disable'}"`);
  return str;
}

function streamer_id_link(author, streamer_id)
{
  if(author === 'No Author')
  {
    return `<a href='https://www.twitch.tv/${streamer_id}' target="_blank" style="color: black;">${streamer_id}</a>`;
  }
  return `<a href='https://www.twitch.tv/${streamer_id}' target="_blank" style="color: black;">${author}<br>(${streamer_id})</a>`
}

function category_link(category)
{
  if(category === 'No Category')
  {
    return category;
  }
  return `<a href='https://www.twitch.tv/directory/game/${category}' target="_blank" style="color: black;">${category}</a>`
}

function render_list(streamlink_process_status)
{
  str = '';
  for (let streamer_id in streamlink_process_status)
  {    
    let name = streamer_id_link(streamlink_process_status[streamer_id].author, streamer_id);
    let datetime = streamlink_process_status[streamer_id].started_time;
    let enable = streamlink_process_status[streamer_id].enable;

    let streamer = `<div id=${streamer_id}_streamer>${name}</div>`
    let stream_info = `<div id=${streamer_id}_stream_info>${streamlink_process_status[streamer_id].title}<br>${category_link(streamlink_process_status[streamer_id].category)}</div>`
    let started_time = `<div id=${streamer_id}_started_time>${datetime || 'Offline'}</div>`;
    let elapsed_time = `<div id=${streamer_id}_elapsed_time>${streamlink_process_status[streamer_id].elapsed_time}</div>`;
    let speed = `<div id=${streamer_id}_speed class="status_speed">${streamlink_process_status[streamer_id].speed}</div>`
    let size = `<div id=${streamer_id}_size>${streamlink_process_status[streamer_id].size}</div>`

    str += m_row_start_id(streamer_id, datetime, enable);
    str += m_col(2, streamer);
    str += m_col(2, started_time);
    str += m_col(3, stream_info);
    str += m_col(1, size);
    str += m_col(1, elapsed_time);
    str += m_col(1, speed);
    let detail_button = m_button('detail_btn', '자세히', [{
      'key':'id', 
      'value': streamer_id,
    }]);
    let stop_button = m_button('stop_btn', enable ? '중지' : '시작', [
      {
        'key': 'id',
        'value': streamer_id,
      },
      {
        'key': 'command',
        'value': enable ? 'disable' : 'enable'
      }
    ])
    button_group = m_button_group_from_list([detail_button, stop_button])
    str += m_col(2, button_group)
    str += m_row_end()
    if (streamer_id != streamlink_process_status[streamlink_process_status.length - 1]) str += m_hr(0);
  }
  document.getElementById("status_list_div").innerHTML = str;
}


function render_update(data)
{
  const streamer_id = data.streamer_id;
  const status = data.status;

  const status_div = document.getElementById(streamer_id);
  const div_streamer = document.getElementById(`${streamer_id}_streamer`)
  const div_stream_info = document.getElementById(`${streamer_id}_stream_info`)
  const div_started_time = document.getElementById(`${streamer_id}_started_time`)
  const div_elapsed_time = document.getElementById(`${streamer_id}_elapsed_time`)
  const div_speed = document.getElementById(`${streamer_id}_speed`);
  const div_size = document.getElementById(`${streamer_id}_size`);


  div_streamer.innerHTML = streamer_id_link(status.author, streamer_id)
  div_stream_info.innerHTML = `${status.title}<br>${category_link(status.category)}`;
  div_started_time.innerText = status.started_time || 'Offline';
  div_elapsed_time.innerText = status.elapsed_time;
  div_speed.innerText = status.speed;
  div_size.innerText = status.size;

  if(status.started_time)
  {
    status_div.classList.remove('offline');
    status_div.classList.add('online');
  }
  else
  {
    status_div.classList.remove('online');
    status_div.classList.add('offline');
  }
}


$("body").on('click', '#detail_btn', function(e){
  e.preventDefault();
  const streamer_id = $(this).data('id')
  m_modal(
    data=streamlink_process_status[streamer_id],  
    title=document.getElementById(`${streamer_id}_streamer`).innerText,
  )
});

$("body").on('click', '#stop_btn', function(e){
  e.preventDefault();
  const next_status = {
    'enable': 'disable',
    'disable': 'enable',
  }
  const next_text = {
    'enable': '중지',
    'disable': '시작',
  }
  const streamer_id = $(this).data('id');
  const command = $(this).data('command');
  const streamer = document.getElementById(`${streamer_id}_streamer`).innerText;
  $.ajax({
    url: `/${package_name}/ajax/${sub}/toggle`,
    type: 'POST',
    cache: false,
    data: {
      'streamer_id': streamer_id,
      'command': command,
    },
    dataType: 'json',
    success: (ret) => {
      $.notify(
        `<strong>${streamer}<br>이전 상태: ${ret.previous_status} 다운로드활성화: ${command}${command === 'disable' ? '<br>재시작 전까지 이 항목은 자동으로 시작되지 않습니다.' : ''}</strong>`,
        {
          type: 'success', 
          delay: 2000,
          timer: 500,
        },
      );
      $(this).text(next_text[command]);
      $(this).data('command', next_status[command]);

      const status_div = document.getElementById(streamer_id);
      if(command === 'enable')
      {
        status_div.classList.remove('disable');
        status_div.classList.add('enable');
      }
      else
      {
        status_div.classList.remove('enable');
        status_div.classList.add('disable');
      }
    }
  })
})

function queue_command(data) {
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/queue_command',
    type: "POST", 
    cache: false,
    data: data,
    dataType: "json",
    success: function (ret) {
      if (ret.ret == 'notify') {
        $.notify('<strong>'+ ret.log +'</strong>', {type: 'warning'});
      }
      on_start();
    }
  });
}

</script>    
{% endblock %}