{% extends "base.html" %}
{% block content %}
 
<div>
  <form id="form_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid">
        <span class="col-md-4">
          <select id="order" name="order" class="form-control form-control-sm">
            <option value="desc">최근순</option>
            <option value="asc">오래된순</option>
          </select>
          <select id="option" name="option" class="form-control form-control-sm">
          </select>
        </span>
        <span class="col-md-8">
          <input id="search_word" name="search_word" class="form-control form-control-sm w-75" type="text" placeholder="" aria-label="Search">
          <button id="search" class="btn btn-sm btn-outline-success">검색</button>
          <button id="reset_btn" class="btn btn-sm btn-outline-success">리셋</button>
        </span>
      </div>
    </div>
  </form>
  <div id='page1'></div>
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(2,  macros.m_strong('StartedTime')) }}
  {{ macros.m_col(2,  macros.m_strong('Streamer')) }}
  {{ macros.m_col(8,  macros.m_strong('Info')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
  <div id='page2'></div>
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name']}}";
var sub = "{{arg['sub']}}";
var current_data = null;


$(document).ready(function(){
  global_sub_request_search('1');
  set_options();
});

$("#search").click(function(e) {
  e.preventDefault();
  global_sub_request_search('1');
});

$("body").on('change', '#option', function(e){
  global_sub_request_search('1');
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  global_sub_request_search($(this).data('page'));
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  document.getElementById("order").value = 'desc';
  document.getElementById("option").value = 'all';
  document.getElementById("search_word").value = '';
  global_sub_request_search('1')
});


$("body").on('click', '#json_btn', function(e){
  e.preventDefault();
  const id = $(this).data('db_id');
  for (i in current_data.list) {
    if (current_data.list[i].id == id) {
      json_data = JSON.parse(JSON.stringify(current_data.list[i])) // deep copy
      json_data.download_filenames = json_data.download_filenames.split('\n');
      json_data.file_size = formatBytes(json_data.file_size);
      json_data.options = json_data.options.split('\n'); 
      m_modal(json_data)
    }
  }
});

$('body').on('click', '#search_category_btn', function(e){
  e.preventDefault();
  const search_word = $(this).data('category');
  document.getElementById('search_word').value = search_word;
  global_sub_request_search('1');
})

$('body').on('click', '#search_streamer_btn', function(e){
  e.preventDefault();
  const option_value = $(this).data('streamer_id');
  document.getElementById('option').value = option_value;
  global_sub_request_search('1');
})

$("body").on('click', '#delete_btn', function(e) {
  e.preventDefault();
  const id = $(this).data('db_id');
  const delete_file = false;
  $.ajax({
    url: '/'+package_name+'/ajax/'+sub+ '/db_remove',
    type: "POST", 
    cache: false,
    data: {id:id, delete_file:delete_file},
    dataType: "json",
    success: delete_btn_callback
  });
});

$("body").on('click', '#delete_file_btn', function(e) {
  e.preventDefault();
  const id = $(this).data('db_id');
  const delete_file = true
  $.ajax({
    url: '/'+package_name+'/ajax/'+sub+ '/db_remove',
    type: "POST", 
    cache: false,
    data: {id:id, delete_file:delete_file},
    dataType: "json",
    success: delete_btn_callback
  });
});

function delete_btn_callback(data) {
  if (data && data['ret'] === true) {
    $.notify('<strong>삭제되었습니다.</strong>', {
      type: 'success'
    });
    global_sub_request_search(current_data.paging.current_page, false)
  } else {
    $.notify(`<strong>삭제 실패${data ? '<br>'+data['msg'] : ''}</strong>`, {
      type: 'warning'
    });
  }
}

// https://stackoverflow.com/a/18650828
function formatBytes(bytes, decimals = 1) {
  if (bytes === 0) return '0 Bytes';

  const k = 1024;
  const dm = decimals < 0 ? 0 : decimals;
  const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

  const i = Math.floor(Math.log(bytes) / Math.log(k));

  return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}


function make_list(data) {
  let str = '';
  for (i in data) {
    let tmp = '';

    str += m_row_start();
    str += m_col(2, `${data[i].created_time}`)
    str += m_col(2, `${data[i].author}<br>(${data[i].streamer_id})`)
    tmp = `${data[i].title}<br>${data[i].category}<br>화질: ${data[i].quality}`
    str += m_col(3, tmp)

    tmp = `크기: ${formatBytes(data[i].file_size)}, 경과: ${data[i].elapsed_time} ${data[i].running ? '(다운로드 중)' : '(완료)'}`
    const search_streamer_btn = m_button('search_streamer_btn', '스트리머검색', [{'key': 'streamer_id', 'value': data[i].streamer_id}]);
    const search_category_btn = m_button('search_category_btn', '카테고리검색', [{'key': 'category', 'value': data[i].category}]);
    const json_btn = m_button('json_btn', 'JSON', [{'key': 'db_id', 'value': data[i].id}]);
    const delete_btn = m_button('delete_btn', '삭제', [{'key': 'db_id', 'value': data[i].id}]);
    const delete_file_btn = m_button('delete_file_btn', '파일삭제', [{'key': 'db_id', 'value': data[i].id}]);
    tmp += '<br><br>'
    tmp += m_button_group(search_streamer_btn + search_category_btn + json_btn + delete_btn + delete_file_btn);
    str += m_col(5, tmp);
    str += m_row_end();
    if (i != data.length -1) str += m_hr();
  }
  document.getElementById("list_div").innerHTML = str;
}

function set_options()
{
  if(current_data === null || !current_data.hasOwnProperty('streamer_ids'))
  {
    setTimeout(set_options, 100);
  }
  else
  {
    const option_div = document.getElementById('option');
    option_div.innerHTML = ''

    const default_child = document.createElement('option');
    default_child.value = 'all';
    default_child.text = '전체';
    option_div.appendChild(default_child);
    for(const streamer_id of current_data.streamer_ids)
    {
      const option_child = document.createElement('option')
      option_child.value = streamer_id;
      option_child.text = streamer_id;
      option_div.appendChild(option_child);
    }
  }
}

</script>    
{% endblock %}